:root {
  --c12: #000;
  --c11: #111;
  --c10: #2e2e2e;
  --c8: #595959;
  --c5: #b2b2b2;
  --c4: #cccccc;
  --c2: #ededed;
  --w: #fff;
  --p5: #332200;
  --p1: #ffbb00;
  --p2: e4a30b;
  --p4: #664400;
  --plg: #f2a50c;
  --font-1-xxl: 600px;
}
