@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");

:root {
  --c12: #000;
  --c11: #111;
  --c10: #2e2e2e;
  --w: #fff;
  --font-1-xxl: 600px;
}

body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
